@import './../../css/variables.css';

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__cell {
  box-sizing: border-box;
  height: 20px;
  padding: 5px;
  line-height: 20px;
}

.table__cell:first-child {
  position: relative;
  width: 25px;
}

.table__cell_check {
  width: 30%;
  text-align: right;
}

.table__box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.table__box_img {
  overflow: hidden;
  border-radius: 100%;
}
